<template name="Register2">





  <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Datos Personales <small>Gestione sus datos personales</small></h5>
                        <!-- {{>iboxTools}} -->
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 b-r">
                               <!--  <h3 class="m-t-none m-b">Sign in</h3>
                                <p>Sign in today for more expirience.</p> -->


                                 {{#autoForm collection="Meteor.users"  id="datosForm" doc=currentUser type="update" validation="submit" autosave=true  class=formCss}}
                                 <fieldset>
                                     <!-- <form role="form">  -->
                                        <div class="form-group"><label>Nombre</label> 
                                          {{> afFieldInput name='profile.nombre' template="plain" class="form-control" placeholder="Tu Nombre"}}
                                          {{#if afFieldIsInvalid name='profile.nombre'}}
                                                    <span class="help-block">{{afFieldMessage name='profile.nombre'}}</span>
                                           {{/if}}
                                        </div>
                                        <div class="form-group"><label>avatarID</label> 
                                          {{> afFieldInput name='profile.avatarID' class="form-control" placeholder="Tu avatar"}}
                                          
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Moficar Datos</strong></button>
                                            <label> <input type="checkbox" class="i-checks"> Remember me </label>
                                        </div>
                                   <!--   </form> -->
                                  </fieldset>
                                  {{/autoForm}}

                            </div>
                            <div class="col-sm-6"><h4>Not a member?</h4>
                                <p>Click paraYou can create an account:</p>
                                <a href="{{pathFor route='subirfoto'}}"> Click aqui para crear y/o modificar </a>
                               <p>{{firstName}}</p>
                                 <p>{{dirFile}}</p>
                                <img src="{{avatar}}" alt="image" class="text-center img-circle m-t-xs img-responsive" >
                       -        <a href="{{avatar}}" target="_blank" class="thumbnail">
                               <img src="{{avatar}}" />
                               <img src="{{link}}" alt="{{name}}" />

                               </a>
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

</template>

