<template name="otro">
  <div class="container">   
    <div class="text-center">
      <h1>Entrada solo a autorizados!</h1>

    </div>
  </div>

<div class="row">
    <div class="col-md-4">
        <div class="alert alert-info">T
        <!-- us documentos, disponibles estés donde estés -->
        </div>
        
    </div>
    <div class="col-md-8">
        <div class="alert alert-danger"> B
        <!-- img src="img/landing/laptop.png" alt="laptop"/> -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-info">
         G
         <!-- uarda archivos en la computadora y, a continuación, accede a ellos en el teléfono mientras viajas. Todo lo que almacenes en Dropbox se sincroniza automáticamente en todos los dispositivos. -->
        </div>
       
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="alert alert-danger">B</div>
    </div>
    <div class="col-md-4 col-md-pull-4 col-sm-6">
        <div class="alert alert-info">A</div>
    </div>
    <div class="col-md-8 col-sm-6">
        <div class="alert alert-info">C</div>
    </div>
</div>


  <!-- .wrapper {
  .make-row();
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
} -->
</template>